.wrapper {
    display: flex;
    flex-direction: column;
    color: var(--darkGrey);
    font-size: var(--sizeText14);
    // align-items: start;
}

.item{
    margin-bottom: 7.5px;
}

.price {
    display: inline-block;
    padding: 2.5px 10px;
    background-color: var(--lightGrey);
    border-radius: 12px;

    &:hover{
        cursor: pointer;
    }
}

.chose{
    color: var(--bluePrimary);
    border: 1px solid var(--bluePrimary);
}