.wrapper {
    text-align: start;
    font-size: var(--sizeText14);
    color: var(--darkGrey);

    &:hover {
        cursor: pointer;
    }
    
    .star {
        color: var(--yellow);
    }

    span {
        margin-left: 5px;
    }
}

.chose {
    background-color: var(--lightGrey);
    border-radius: 4px;
}