.wrapper {
    // position: absolute;
    // top:calc(0.6*72px);
    // left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    min-width: 200px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: rgba(0, 0, 0, 0.28) 0px 6px 12px 0px;
}

.line {
    margin:auto;
    height: 1px;
    width: 90%;
    padding: 0 5px;
    background-color: var(--lightGrey);
}