// .wrapper {
//     // background-color: var(--backgroundColorWeb);
// }

.heading {
    font-weight: 300;
    padding: 12px 0 0 16px;
    text-align: start;
    background-color: white;
}

.listProduct {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 8px;
}

// .pagination {
//     display: flex;
//     list-style-type: none;
//     gap: 16px;
//     --height: 36px;
//     width: 40px;
//     height: var(--height);
//     background-color: var(--bluePrimary);
//     font-weight: 500;
//     color: var(--darkGrey);
//     font-size: var(--sizeText16);
// }